/* src/style.css */

/* Add any additional styles or modifications here */

/* Sidebar styles */
.contact-button {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ff4500;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

/* Sidebar animation */
.show-sidebar {
    right: 0;
}
